<div class="flex-div" style="background-color: #eee;">
  <div class="form-container">
    <form #myform="ngForm" (ngSubmit)="doLogin(myform)">
      <h3>Login</h3>
      <div class="mb-3">
        <label for="username" class="form-label">User Name</label>
        <input type="text" name="username" [(ngModel)]="username" class="form-control" required #name="ngModel"/>
        <span *ngIf="name.invalid && name.touched" style="color: red;" >Please enter valid username</span>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" minlength="4" [(ngModel)]="password" class="form-control" required #pass="ngModel"/>
        <span *ngIf="pass.invalid && pass.touched" style="color: red;">Please enter valid password</span>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>