.flex-div
{
    display: flex;
    align-items: center;
}


.nav-link{
    margin: 0;
    padding: 10px;
}

.card-center .card-header{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-item .user-header{
    color: rgb(120, 114, 114);
    font-size: smaller;
    margin-bottom: 0px;
}

.nav-link .user-name{
    color: black;
    font-weight: 800;
    font-size: medium;
    margin: 0;
}

.login, .sign-up{    
    background-color: transparent;
    border-color: #0079D3;
    color: #0079D3;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 7px 20px;
    margin-right: 20px;
    opacity: 1;  
}

.nav-link .answer{
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 20px;
}

.nav-item .answer-header{
    color: #356991;
    font-size: 15px;
    margin-bottom: 0px;
}

.nav-link .answer-name{
    color: #0079D3;
    font-weight: 800;
    font-size:17px;
    margin: 0;
}

.scroll {
    overflow: scroll;
    /* margin:4px, 4px;
    padding:4px;
    background-color: green;
    width: 500px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify; */
}

.card-center{
width: 100%;
}


