.flex-div
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    margin:4%;
    padding:2%;
    background-color:white;
    border-radius: 10px;
    width:30%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.check {
    margin-right: 30px;
}

label{
    margin-right: 20px;
}