<div class="container" style="background-color: #eee;">
    <div class="card">
        <div class="d-flex" *ngFor="let tempg of greetings">
            <div class="chat">
                <span class="text-muted">
                    {{ tempg.name }} : {{ tempg.content }}
                </span>
            </div>
        </div>
        <form #loginForm="ngForm">
            <div>
                <input type="text" name="newmessage" [(ngModel)]="newmessage" />
                <button class="btn btn-primary" (click)="sendMessage()" [disabled]="!loginForm.valid">
                    Send
                </button>
            </div>
        </form>
    </div>
</div>