.dashcontainer
{
    margin: 0;padding: 0;
    width: 100%;

}

.container{
    background-color: white;
    border: 1px solid rgb(209, 227, 240);
    padding: 2%;
    border-radius: 10px;
    height: fit-content;
    margin: 20px 0 20px 20px;
    width: 20%;
}
.detail{
    width: 80%;
}

.users
{
    width:80%;
    margin: 20px;
}

.margin-left{
    margin-left: 80px !important;
}

.btn.btn-primary.btn-block.top
{
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn.btn-success.below
{
    margin-right: 20px;
    margin-top: 20px;
}

.top
{
    margin-bottom: 30px;
}
