<nav class="flex-div">
    <div class="nav-left flex-div">
        <img src="assets/images/logo.png" class="logo">
        <a href="#">DoConnect</a>
    </div>
    <div class="nav-middle flex-div">
        <div class="search-box flex-div">
            <input type="text" placeholder="Search">
            <img src="assets/images/search.png">
        </div>
    </div>
    <div class="nav-right flex-div">
        <div *ngIf="isLoggedIn()" class="logg">
            <h3></h3>
            <a (click)="logout()" class="sign-up">logout</a>
            <img src="assets/images/notification.png">
             <img src="assets/images/Jack.png" class="user-icon">
        </div>
        <div *ngIf="!isLoggedIn()" class="nologg flex-div">
            
            <a routerLink="/login" class="login">Login</a>
            <a routerLink="/signup" class="sign-up">Register</a>
        </div>
    </div>
</nav>